#!/usr/bin/env ruby

#
# the handbook currently has a slightly different title
#
compile '/**/Use/*.html' do
  layout '/handbook.*'
  write item.identifier.to_s
end

#
# unlike the default rule, we keep the file layout verbatim
#
compile '/**/*.html' do
  layout '/default.*'
  write item.identifier.to_s
end

#
#  Skip the body files
#
compile '/**/*.body' do
end

#
# ovl files are processed through OverlayFilter.rb, then have a bit
# of extra overlay layout, and then get specific file names.
# Note that the ovl extension is added to nanoc.yaml so it's recognized
# as textual rather than binary
#
compile '/**/*.ovl' do
  filter :overlay
  layout '/overlay.*'
  layout '/default.*'
  write '/overlay-' + item.identifier.without_ext.sub('/','') + '.html'
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
#compile '/**/*.md' do
#  filter :kramdown
#  layout '/default.*'
#
#  if item.identifier =~ '**/index.*'
#    write item.identifier.to_s
#  else
#    write item.identifier.without_ext + '/index.html'
#  end
#end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
