<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/tribblix.css">
<title>Tribblix : <%= @item[:title] %></title>
</head>
<body>
<img class="banner" src="/banner2.png" alt="Tribblix, the retro illumos distribution" width=377 height=129>
<table id="banner"><tr>
<td><a href="/">Home</a></td>
<td>::</td>
<td><a href="/about.html">About</a></td>
<td>::</td>
<td><a href="/download.html">Download</a></td>
<td>::</td>
<td><a href="/install.html">Install</a></td>
<td>::</td>
<td><a href="/Use/">Use</a></td>
<td>::</td>
<td><a href="/man/">Manual</a></td>
<td>::</td>
<td><a href="/Changes/">Changes</a></td>
</tr></table>
<%= yield %>
<hr>
<i>tribblix@gmail.com</i>
::
<a href="https://github.com/tribblix">GitHub</a>
::
<a href="/privacy.html">Privacy</a>
</body>
</html>
